<nav id="main-nav-bar">
    <ul>
        <li>
            <a class="fa fa-home hvr-float" href="/home"></a>
        </li>
        <li>
            <a class="fa fa-file-text hvr-float" href="#post" onclick="togglePostMenu()"></a>
        </li>
        <li>
            <a class="fa fa-address-book hvr-float" href="#follow" id="follow-link" onclick="toggleFollowMenu()"></a>
        </li>
        <li>
            <a class="fa fa-gear hvr-float" href="/settings"></a>
        </li>
        <li>
            <a class="fa fa-sign-out hvr-float" href="#logout" onclick="logout()"></a>
        </li>
    </ul>
    <div class="follow" id="follow-div">
        <input type="text" class="follow-box" placeholder="Username" id="follow-box" onkeyup="userQuery(this.value)">
        <div id="users"></div>
    </div>
</nav>