<div class="posts" id="posts">
    {% for post in posts %}

    {% if post.id is defined %}
    <div class="post" id="{{ post.id }}">
        <div class="account-name hvr-float"><a href="/user?user={{ post.user }}">{{ post.user }}</a></div>
        <img class="profile-pic" src="{{ post.pic_url }}" onerror="this.style.display = 'none'">
        <p>{{ post.post_text }}</p>
        <div class="date">{{ post.date }}</div>
        <img class="comment-icon hvr-float" src="../comment-white.png" onclick="toggleCommentMenu('{{ post.id }}')">
        <div class="comment-div">
            <textarea class="comment-area" placeholder="Comment" onkeyup="commentKeyUp(this.parentElement.childNodes[3])"></textarea>
            <input type="button" value="Comment" class="comment-button hvr-glow" style="display: none;"
                onclick="postComment('{{ post.id }}', '{{ post.user }}', '{{ current_user }}')">
        </div>
        <div class="comments">
            {% for comment in post.comments %}
            <div class="comment">
                <div class="account-name hvr-float"><a href="/user?user={{ comment.user }}">{{ comment.user }}</a></div> {{ comment.text }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>
<script type="text/javascript">
    //Sort by date
    posts = document.getElementsByClassName('post');
    postsArray = [];
    for (let i = 0; i < posts.length; i++) {
        postsArray.push(posts[i]);
    }
    postsArray.sort(function (a, b) {
        date1 = parseInt(a.getElementsByClassName('date')[0].innerHTML);
        date2 = parseInt(b.getElementsByClassName('date')[0].innerHTML);

        return date2 - date1;
    });
    console.log(postsArray);

    // Convert UTC to local
    dates = document.getElementsByClassName('date');

    for (let i = 0; i < dates.length; i++) {
        timestamp = dates[i].innerHTML;
        date = new Date(parseInt(timestamp)*1000);
        dateSplit = new String(date).split(' ');
        dates[i].innerHTML = dateSplit[1] + ' ' + dateSplit[2] + ' ' + dateSplit[3];
    }

    //Clear posts
    posts = document.getElementsByClassName('posts')[0];
    posts.innerHTML = '';

    //Repopulate with sorted array
    for (let i = 0; i < postsArray.length; i++) {
        posts.append(postsArray[i]);
    }
</script>