<div class="posts" id="posts">
    {% for post in posts %}

    {% if post.id is defined %}
    <div class="post" id="{{ post.id }}">
        <div class="account-name"><a href="/user?user={{ post.user }}">{{ post.user }}</a></div>
        <img class="profile-pic" src="{{ post.pic_url }}" onerror="this.style.display = 'none'">
        <p>{{ post.post_text }}</p>
        <div class="date">{{ post.date }}</div>
        <img class="comment-icon" src="../comment-white.png" onclick="toggleCommentMenu('{{ post.id }}')">
        <div class="comment-div">
            <textarea class="comment-area" placeholder="Comment" onkeyup="commentKeyUp(this.parentElement.childNodes[3])"></textarea>
            <input type="button" value="Comment" class="comment-button hvr-glow" style="display: none;"
                onclick="postComment('{{ post.id }}', '{{ post.user }}', '{{ current_user }}')">
        </div>
        <div class="comments">
            {% for comment in post.comments %}
            <div class="comment">
                <div class="account-name"><a href="/user?user={{ comment.user }}">{{ comment.user }}</a></div> {{ comment.text }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% endfor %}
</div>