<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Den</title>
</head>
<link rel="stylesheet" type="text/css" href="css.css">
<script src="../js/actions.js"></script>

<body>
    <nav>
        <ul>
            <li>
                <a href="#post" onclick="togglePostMenu()">Post</a>
            </li>
            <li>
                <a href="#follow" id="follow-link" onclick="toggleFollowMenu()">Follow</a>
            </li>
        </ul>
        <div class="follow" id="follow-div">
            <input type="text" class="follow-box" placeholder="Username" id="follow-box" onkeyup="userQuery(this.value)">
            <div id="users"></div>
        </div>
    </nav>
    <div class="user-post third-centered" id="user-post" style="display: none;">
        <textarea name="caption" class="caption-area" placeholder="Caption" id="caption"></textarea>
        <br>
        <input type="button" value="Post" class="button comment-button" onclick="post()">
    </div>
    <main>

        <br><br><br>
        <div class="posts" id="posts">
            {% for post in posts %}

            {% if post.id is defined %}
            <div class="post" id="{{ post.id }}">
                <div class="account-name"><a href="/user?user={{ post.user }}">{{ post.user }}</a></div>
                <img class="profile-pic" src="{{ post.pic_url }}" onerror="this.style.display = 'none'">
                <p>{{ post.post_text }}</p>
                <img class="comment-icon" src="../comment-white.png" onclick="toggleCommentMenu('{{ post.id }}')">
                <div class="comment-div">
                    <textarea class="comment-area" placeholder="Comment"></textarea>
                    <input type="button" value="Comment" class="button comment-button"
                        onclick="postComment('{{ post.id }}', '{{ post.user }}', '{{ current_user }}')">
                </div>
                <div class="comments">
                    {% for comment in post.comments %}
                    <div class="comment">
                        {{comment.user}}: {{ comment.text }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% endfor %}
        </div>
    </main>
</body>

</html>