<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Den</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/css.css">
<link rel="stylesheet" type="text/css" href="../css/settings.css">


<!-- <style>
input {
    margin-bottom: 15px;
}
</style> -->

<body>
    <h1>Account Settings</h1>

    <main>
        <div class="settings-title">Regex Filters</div>
        <!-- Load list of regex settings from account here -->
        <input type="text" id="" value="needle in hay" class="regex-setting text-input ">
        <input type="text" id="" value="needle in hay 2" class="text-input regex-setting">
        <input type="text" id="" value="hay in needle" class="text-input regex-setting">


        <br>
        <input type="button" value="Save" class="button-small" style="width: 25%; height: 50px;">
    </main>
</body>

</html>