@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
/* font-family: 'Cedarville Cursive', cursive; */
body {
    text-align: center;
    font-size: 1.2em;
    color: #FFF;
    background-color: #303030;
    margin: 0px;
    
}

input {
    margin-top: 10px;
    width: 75%;
}

input.text-input {
    font: inherit;
    color: #FFF;
    margin: 0px;
    overflow: visible;
    box-sizing: border-box;
    background: #303030;
    border: none;
    border-bottom: 2px solid #37ff91;
    outline: none;
}

ul {
    list-style-type: none;
    background-color: #1b1b1b;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

li {
    padding-bottom: 10px;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    color: #00ffb8;
    text-decoration: none;
    letter-spacing: 5px;
}

.input-type {
    padding-top: 25px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third-centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .logo {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 3em;
} */

.button {
    height: 15%;
    border: 0px solid black;
    background: #303030;
    border-bottom: 2px solid #37ff91;
    color: #FFF;
    font: inherit;
    outline: none;
    font-size: 1.2em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    /* background: #46423bcc; */
    color: #37ff91;
    background: #1b1b1b;
    /* background: #FFF; */
}



#login-form {
    /* border: 2px solid #46423bcc; */
    border-radius: 15px;
    width: 25%;
    height: 45%;
    /* background-color: #46423bcc; */
}

/* #txtUsername {
    margin-top: 15px;
} */