@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

body {
    text-align: center;
    font-size: 1.2em;
    color: #FFF;
    background-color: #303030;
    margin: 0px;
    
}

input {
    margin-top: 10px;
    width: 75%;
}

input.text-input {
    font: inherit;
    color: #FFF;
    overflow: visible;
    box-sizing: border-box;
    background: #303030;
    border: none;
    border-bottom: 2px solid #37ff91;
    outline: none;
}

input.text-input-small {
    width: 25%;
    min-width: 450px;
    font: inherit;
    color: #FFF;
    overflow: visible;
    box-sizing: border-box;
    background: #303030;
    border: none;
    border-bottom: 2px solid #37ff91;
    outline: none;
}

ul {
    list-style-type: none;
    background-color: #1b1b1b;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center
}

li {
    padding-bottom: 10px;
}

nav ul li {
    font-size: 2.1em;
    width: 10%;
}

div .account-name {
    padding: 16px 25px 0px 0px;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

a {
    color: #00ffb8;
    text-decoration: none;
    letter-spacing: 5px;
}

.input-type {
    padding-top: 25px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third-centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    height: 15%;
    border: 0px solid black;
    background: #303030;
    border-bottom: 2px solid #37ff91;
    color: #FFF;
    font: inherit;
    outline: none;
    font-size: 1.2em;
}

.button:hover {
    color: #37ff91;
    background: #1b1b1b;
}

.button-small {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 150px;
    height: 45px;
    box-sizing: border-box;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: black;
    padding: 0.5rem 1rem;
    font-size: 1.32875rem;
    border-radius: 2.688em;
    cursor: pointer;
}

.button-small:hover {
    color: #37ff91;
    background: #1b1b1b;
}

div.like {
    font-size: 50px;
    margin-right: 15px;
    transform: rotate(180deg);
}

div.liked {
    font-size: 50px;
    margin-right: 15px;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.hvr-float {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
}

#login-form {
    border-radius: 15px;
    width: 25%;
    height: 45%;
}