.settings-title {
    margin-bottom: 25px;
}

.regex-setting {
    margin-bottom: 15px;
}

.saved-confirmation {
    display: none;
    color: #37ff91;
    padding-top: 25px;
}

input.delete-button {
    width: 150px;
    height: 27px;
    border: 0px solid black;
    background: #303030;
    border-bottom: 2px solid #37ff91;
    color: #FFF;
    font: inherit;
    outline: none;
    font-size: 1.2em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input.delete-button:hover {
    color: #37ff91;
    background: #1b1b1b;
}

ul.regex-setting {
    display: inline-flex;
    background: none;
    padding-top: 15px;
}

ul.regex-setting li {
    padding-left: 40px;
    background: none;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}