.settings-title {
    margin-bottom: 25px;
}

.regex-setting {
    margin-bottom: 15px;
}

input.delete-button {
    width: 150px;
    height: 27px;
    border: 0px solid black;
    background: #303030;
    border-bottom: 2px solid #37ff91;
    color: #FFF;
    font: inherit;
    outline: none;
    font-size: 1.2em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input.delete-button:hover {
    color: #37ff91;
    background: #1b1b1b;
}

ul.regex-setting {
    display: inline-flex;
    background: none;
    padding-top: 15px;
}

ul.regex-setting li {
    padding-left: 40px;
    background: none;
}